In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [12]:
df = pd.read_csv("india_crop_recommendation_dataset_extended.csv")
df.head()

     N   P   K  temperature  humidity    ph  rainfall label
0  111  51  57        29.53     89.69  5.50    230.12  rice
1   84  48  40        28.92     71.51  6.74    153.82  rice
2   88  59  59        20.84     82.07  6.59    191.44  rice
3   92  51  40        24.57     86.53  5.72    240.39  rice
4  115  47  50        25.42     88.26  6.71    210.45  rice

In [13]:
X = df.drop("label", axis=1)   
y = df["label"]

In [14]:
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [15]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [16]:
print(X_scaled.shape)
print(y_encoded.shape)

(4000, 7)
(4000,)