In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("india_crop_yield_dataset_extended.csv")
df.head()

        State       Crop  Season   Area  Annual_Rainfall  Fertilizer  Yield
0   Karnataka    soybean  Kharif  13.76           397.60      335.00  38.07
1  Tamil Nadu  groundnut  Kharif  16.57           771.64      183.50  40.96
2      Punjab  groundnut  Kharif   3.97          1639.01      307.75  49.58
3  Tamil Nadu        tea    Zaid  17.58          2801.45      336.66  60.00
4      Punjab   turmeric    Rabi   5.71           529.96      272.77  44.56

In [3]:
df.info()
df.isnull().sum()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            3000 non-null   object
 1   Crop             3000 non-null   object
 2   Season           3000 non-null   object
 3   Area             3000 non-null   float64
 4   Annual_Rainfall  3000 non-null   float64
 5   Fertilizer       3000 non-null   float64
 6   Yield            3000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 164.2+ KB

              Area  Annual_Rainfall   Fertilizer        Yield
count  3000.000000      3000.000000  3000.000000  3000.000000
mean     10.436383      1650.865833   193.489030    45.918193
std       5.597383       785.167801    91.130707    14.486371
min       0.510000       300.490000    40.040000    14.330000
25%       5.580000       977.332500   112.247500    37.140000
50%      10.550000      1647.135000   193.430000    43.750000
75%      15.222500      2360.205000   273.172500    50.902500
max      20.000000      2997.550000   349.990000   108.800000

In [4]:
X = df.drop('Yield', axis=1)
y = df['Yield']

In [5]:
from sklearn.preprocessing import LabelEncoder

le_state = LabelEncoder()
le_crop = LabelEncoder()
le_season = LabelEncoder()

X['State'] = le_state.fit_transform(X['State'])
X['Crop'] = le_crop.fit_transform(X['Crop'])
X['Season'] = le_season.fit_transform(X['Season'])

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)